.menu-bar, .progress-bar-container, .edu-list, .edu-list-for-seg {
    position: absolute;
}
.menu-bar {
    top: 30px;
    left: 220px;
    width: 800px;
}
.progress-bar-container {
    top: 150px;
    left: 210px;
    width: 800px;
}
.edu-list {
    top: 190px;
    left: 210px;
    width: 800px;
}
.edu-list-for-seg {
    top: 150px;
    left: 210px;
    width: 800px;
}
.edu {
    display: flex;
    align-items: end;
}
h5 {
    display: inline-block;
    text-align: left;
    white-space: normal;
}
.edu-buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.edu-button{
    /* background-color: inherit; */
    cursor: pointer;
}
