.menu-bar, .progress-bar-container, .edu-list {
    position: absolute;
    left: 180px;
}
.menu-bar {
    top: 30px;
}
.progress-bar-container {
    top: 130px;
}
.edu-list {
    top: 160px;
}
h5 {
    display: inline-block;
}
