.menu-bar, .progress-bar-container, .edu-list {
    position: absolute;
}
.menu-bar {
    top: 30px;
    left: 180px;
}
.progress-bar-container {
    top: 130px;
    left: 170px;
}
.edu-list {
    top: 160px;
    left: 250px;
}
h5 {
    display: inline-block;
    text-align: left;
    white-space: normal;
}
